@model Usuario

@{
    ViewBag.Title = "PerfilUsuario";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="card mb-3" style="border:none">
    <img src="~/Img/5625651.jpg" class="card-img-top" alt="...">
    @*<div class="card-body">
    </div>*@
</div>

<nav class="navbar navbar-light " id="navTitulo">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-success" style="font-size: 2.00rem;">@ViewBag.Message</span>
    </div>
</nav>

<div class="container-fluid ">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-4" style="width:90%">

            @if (@ViewBag.UsuarioActualizado != null)
            {
                <div class="alert alert-success alert-dismissible fade show shadow" role="alert">
                    Usuario <strong>Actulizado</strong> exitosamente
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
                @using (Html.BeginForm("ActulizaUsuario", "Usuario", FormMethod.Post))
                {
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="inputName" class="form-label">Nombre</label>
                                @*<input type="text" class="form-control" id="inputName" placeholder="">*@
                                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @placeholder = ViewBag.usuario })
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Apellido</label>
                                @*<input type="text" class="form-control" id="inputPassword4">*@
                                @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control", @placeholder = ViewBag.apellido })
                            </div>

                            <div class="col-md-6">
                                <label for="inputEmail40" class="form-label">Correo Electrónico</label>
                                @*<input type="email" class="form-control" id="inputEmail40">*@
                                @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control", @placeholder = ViewBag.correo })
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword40" class="form-label">Contraseña</label>
                                @*<input type="password" class="form-control" id="inputPassword40">*@
                                @Html.TextBoxFor(m => m.Clave, new { @class = "form-control", @type = "password" })
                            </div>
                        </div>

                        <div class="row g-3 mt-2 justify-content-center">
                            <div class="col-4 ">
                                <button type="button" class="form-control btn btn-primary submit px-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">Actualizar</button>
                            </div>

                            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel1"><span class="text-danger">Importante !</span></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Seguro que deseas actulizar la informacion de usuario ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Actulizar Usuario</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </form>
                }



            </div>
    </div>
</div>